.button {
  @include font;
  font-weight: 600;
  background: $orange;
  border-radius: 4px;
  color: $white;
  display: inline-flex;
  line-height: 1;
  padding: 24px 36px;

  &:hover {
    background: color.adjust($orange, $lightness: -5%);
    color: $white;
  }

  &.outline {
    background: transparent;
    border: 1px solid $white;

    &:hover {
      background: rgba($white, 0.1);
    }
  }

  &.outlineDark {
    background: transparent;
    border: 1px solid $blue-dark;
    color: $blue-dark;

    &:hover {
      background: rgba($blue-dark, 0.1);
    }
  }
}
